<a href="https://colab.research.google.com/github/concientizar/Diplomatura2022/blob/main/read_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nueva sección

In [17]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/nestorvqz/ecodata/main/SudoesteToledo2022.csv', encoding='latin-1', delimiter =';')

In [18]:
df.head()

,DateTime,StationName,rtu_id,PEnt,PSal,Pmed_1,Tmed_1,Qinst_1,AcDia_1,AcAnt_1
0,01/01/2022 12:05:00 a.m.,Sudoeste,7,38.908,25.293,25.293,18.841,10.494,532.211,702.031
1,01/01/2022 12:05:00 a.m.,Toledo,21,47.073,39.162,47.073,23.163,11.498,615.004,793.230
2,01/01/2022 12:05:00 a.m.,Vál. Aut. Bower,145,38.610,39.124,NaN,NaN,NaN,NaN,NaN
3,01/01/2022 01:05:00 a.m.,Sudoeste,7,39.116,25.290,25.290,18.684,9.931,542.121,702.031
4,01/01/2022 01:05:00 a.m.,Toledo,21,47.198,39.239,47.198,22.829,10.647,625.984,793.230

In [19]:
df.describe()

,rtu_id,PEnt,PSal,Pmed_1,Tmed_1,Qinst_1,AcDia_1,AcAnt_1
count,8824.000000,8628.000000,8628.000000,8003.000000,8003.000000,8003.000000,8003.000000,8003.000000
mean,23.768586,42.106025,32.247426,36.151487,18.494148,47.119616,598.373440,1128.954253
std,35.067719,5.261862,6.677543,11.189855,4.543816,24.164793,448.432634,443.170144
min,7.000000,20.454000,17.092000,17.092000,6.392000,0.000000,0.000000,0.000000
25%,7.000000,37.395000,25.180000,25.167000,15.661000,29.920000,242.783000,833.591000
50%,21.000000,40.668500,36.630000,35.061000,18.442000,45.216000,545.450000,1003.686000
75%,21.000000,46.576000,38.364500,46.832000,21.503000,58.409500,851.093000,1297.143000
max,145.000000,56.236000,42.439000,56.236000,32.349000,123.788000,2634.508000,2675.003000

In [20]:
df.dtypes

DateTime        object
StationName     object
rtu_id           int64
PEnt           float64
PSal           float64
Pmed_1         float64
Tmed_1         float64
Qinst_1        float64
AcDia_1        float64
AcAnt_1        float64
dtype: object

In [21]:
df["DateTime"] = pd.to_datetime(df.DateTime)

In [22]:
df.head()

,DateTime,StationName,rtu_id,PEnt,PSal,Pmed_1,Tmed_1,Qinst_1,AcDia_1,AcAnt_1
0,2022-01-01 00:05:00,Sudoeste,7,38.908,25.293,25.293,18.841,10.494,532.211,702.031
1,2022-01-01 00:05:00,Toledo,21,47.073,39.162,47.073,23.163,11.498,615.004,793.230
2,2022-01-01 00:05:00,Vál. Aut. Bower,145,38.610,39.124,NaN,NaN,NaN,NaN,NaN
3,2022-01-01 01:05:00,Sudoeste,7,39.116,25.290,25.290,18.684,9.931,542.121,702.031
4,2022-01-01 01:05:00,Toledo,21,47.198,39.239,47.198,22.829,10.647,625.984,793.230

In [24]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.dates as mdates
from datetime import datetime, timedelta
import seaborn as sns
sns.set_context('talk')
%matplotlib inline
sns.set_context("notebook", rc={"grid.linewidth": 0.6, "lines.linewidth": 1})
sns.set_style("whitegrid")
sns.set_palette("Accent_r")

In [ ]:
fig, axes = plt.subplots(figsize=(18, 8), nrows=2)
data_preproc = df[['DateTime','PEnt']]
sns.lineplot(x='DateTime', y='value', hue='variable', data=pd.melt(data_preproc, ['DateTime']), ax=axes[0])

axes[0].set_title("Presión")
axes[0].set_xlabel("Tiempo")
axes[0].set_ylabel("bar")
format_datetime_axis_ticks(axes[0])

sns.lineplot(x=ind_df.createdAt, y=ind_df.Current_Avg, ax=axes[1])

axes[1].set_title("Presion salida")
axes[1].set_xlabel("Tiempo")
axes[1].set_ylabel("bar")
format_datetime_axis_ticks(axes[1])

plt.subplots_adjust(hspace = 0.5)